
@{
}

<head>
    <title>Teachers to Excel</title>
</head>

<body>  
    <h1 id="title">All Teachers</h1>
    <h2 id="kop">Select multiple teachers to export or export all the teachers</h2>
    <div id="dvTeachers">
            
        <table id="teacherTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Experience</th>
                </tr>
            </thead>

            <tbody>
            <tr class="column">
                <td class="item" name="id">1</td>
                <td class="item" name="TeacherName">Frank</td>
                <td class="item" name="TeacherAge">30</td>
                <td class="item" name="TeacherExperience">8</td>
            </tr>
            <tr class="column">
                <td class="item" name="id">2</td>
                <td class="item" name="TeacherName">Peter</td>
                <td class="item" name="TeacherAge">45</td>
                <td class="item" name="TeacherExperience">22</td>
            </tr>
            <tr class="column">
                <td class="item" name="id">3</td>
                <td class="item" name="TeacherName">Job</td>
                <td class="item" name="TeacherAge">60</td>
                <td class="item" name="TeacherExperience">25</td>
            </tr>   
            <tr class="column">
                <td class="item" name="id">4</td>
                <td class="item" name="TeacherName">Sjoerd</td>
                <td class="item" name="TeacherAge">32</td>
                <td class="item" name="TeacherExperience">10</td>
            </tr>
            <tr class="column">
                <td class="item" name="id">5</td>
                <td class="item" name="TeacherName">Johan</td>
                <td class="item" name="TeacherAge">42</td>
                <td class="item" name="TeacherExperience">18</td>
            </tr>
            </tbody>
        </table>
                                  
        <div class="inputs">
            <input type="button" id="submitTeacher" value="Export" />
            <input type="button" id="allTeachers" value="Export all teachers" />
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/Teachers.js"></script>
}
