html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active_row {
    background-color: #28962a;
    color:white;
}

#infoTable{
    height:150px;
    width:300px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top:250px;
    text-align:center;
    font-family:Arial;
    font-size:18px;
}

#infoTable tr td {
    border: double;
    border-color: #000000;
}

.column:hover{
    background-color:#28962a;
    color:white;
}

#btnSubmit{
    position:absolute;
    top:470px;
    left:43%;
}

#allInfo{
    position:absolute;
    top:470px;
    left:48%;
}

#title{
    position:absolute;
    top:100px;
    left:50%;
    transform:translate(-50%);
    font-family:Arial;
    font-size:40px;
}

#kop{
    position:absolute;
    top:160px;
    left:50%;
    transform:translate(-50%);
    font-family:Arial;
    font-size:30px;
}

input {
    font-family: Arial;
    font-size: 18px;
}

input:hover{
    background-color:#28962a;
    color:white;
}

#allInfoToExcel{
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top:180px;
    color:white;
    background-color:red;
}

.changeBackgroundColor{
    background-color:white;
}

.deleteStudent{
    width:80px;
}

.deleteStudent:hover{
    background-color:#fb3030;
    color:white;
}

.remove{
    background-color:white;
    color:white;
}

#teacherTable {
    height: 150px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 250px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

#teacherTable tr td {
    border: double;
    border-color: #000000;
}

#submitTeacher {
    position: absolute;
    top: 470px;
    left: 43%;
}

#allTeachers {
    position: absolute;
    top: 470px;
    left: 48%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24a53a;
    color:white;
    height:100px;
}

footer>h3{
    text-align:center;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.displayNone{
    display:none;
}

.display{
    display:inline;
}
